<div id="banner">
  <h1>Welcome, <%= @user.username %></h1>
</div>

<%= link_to 'Log Out', logout_path, method: :delete %>

<div id="make_ideas">
  <%= render partial: 'shared/idea_form', locals: {idea: @user.ideas.new, user_id: @user.id} %>
</div>


<div id="idea_list">
  <ul>
  <% @user.ideas.each do |idea| %>
    <% unless idea.new_record? %>
      <li>
        <%= idea[:title] %><br />
        <%= idea[:description] %><br />
        <%= idea.category[:name] %><br />
        <%= link_to('Edit', edit_idea_path(idea)) %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>

<div id="admin_controls">
  <%= link_to "Add New Category", new_category_path %>
</div>
